.navigations {
    padding: -15px;
    overflow: hidden;
}
.navigations h1 {
    color: #000;
    font-family: "Lato";
    letter-spacing: 4px;
    font-size: 30px;
    text-align: center;
    margin: 20px 0 20px;
}
.navigations ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigations ul li {
    width:20%;
    min-height: 50%;
    float:left;
    padding: 5px;
}
.navigations ul li a {
    display: block;
    text-align: center;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding: 10px 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    text-transform: uppercase;
}

.navigations ul li:hover figure {
    background: #f7f5f5;
    color: #fff;
}
.navigations ul li a figure {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #ececec;
    padding: 25px;
    display: inline-block;
    margin: 5px auto 12px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.navigations ul li a figure img {
    width: 100%;
}
.navigations ul li a p {
    height: 38px;
}


@media (max-width: 767px){
    .navigations h1 {
        letter-spacing: 2px;
        font-size: 22px;
        text-align: center;
        margin: 10px 0 10px;
    }
    .navigations ul li {
        width: 50%;
        border: 0;
        padding: 5px;
    }
    .navigations ul li a {
        padding: 5px 0;
        font-size: 15px;
    }
    .navigations ul li a figure {
        width: 80px;
        height: 80px;
        padding: 15px;
        display: inline-block;
        margin: 5px auto 5px;
    }
    .navigations ul li a p {
        font-size: 14px;
        letter-spacing: 0;
        margin: 3px 0 0;
        text-transform: capitalize;
        height: auto;
    }

}




