.createCustomer h3 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: left;
    margin: 25px 0 15px;
}
.createCustomer label {
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    width: 170px;
    display: inline-block;
}
.byMail {
    float:left;
}
.byMail input {
    border: 1px solid rgab(0,0,0,0.5);
    padding: 8px;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    width: 350px;
}
.byMailbtn {
    clear:both;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0 0 15px;
    margin: 0 0 15px;
}
.byMailbtn button {
    background: #333;
    border:0;
    color: #fff;
    display: inline-block !important;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 10px 30px;
    letter-spacing: 1px;
}
.createCustomer input {
    border: 1px solid rgab(0,0,0,0.5);
    padding: 12px;
    margin: 0 0 10px;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    width: 350px;
}
.createCustomer input[type="radio"] {
    width:20px;
    float:left;
    margin: 3px 5px 0 0;
}
.savedAddresses > div > div {
    margin: 0 0 0 30px;
    line-height: 26px;
}
.createCustomer select {
    border: 1px solid rgab(0,0,0,0.5);
    color: #000;
    padding: 8px 10px;
    margin: 0 0 10px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    width: 350px;
}
.createCustomer button {
    background: #333;
    border:0;
    color: #fff;
    display: inline-block !important;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 12px 30px;
    margin: 10px 15px 10px 0;
    letter-spacing: 1px;
    width: 300px;
}
.marginSides {
    margin: 0 15px 0 0 !important;
}


@media (max-width: 767px){
.createCustomer {
    padding: 10px;
}
.createCustomer h3 {
    font-size: 19px;
    margin: 15px 0 10px;
}
.byMail input,
.createCustomer input {
    width: 100%;
}
.byMailbtn {
    margin: 0 0 5px;
    padding: 0 0 5px;
}
.byMailbtn button,
.createCustomer button {
    font-size: 13px;
    margin: 5px 0 !important;
}
.createCustomer select {
    width:100%;
}
.marginSides {
    margin: 0 auto !important;
}

}
