* {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.orderStartEnd {
    overflow: hidden;
    margin: 0 0 10px;
}
.orderStartEnd h4 {
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 10px 0;
    font-weight: 600;
}
.orderStartEnd .width50 {
    width: 40%;
    float:left;
}
.orderStartEnd input {
    border: 1px solid #000;
    padding: 10px;
    width: 300px;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}
.orderStartEnd button {
    border: 0;
    background: none;
    margin: 45px 0 0;
    height: 30px;
    float: right;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-family: 'Lato', sans-serif;
}
.orderStartEnd button img {
    width: 24px;
    margin: 0 8px -7px 0;
}

/* invoice */
.designerInvoice select {
    border: 1px solid #000;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    margin: 20px 15px 0 0;
}
.designerInvoice input {
    border: 1px solid #000;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    margin: 20px 0;
}
.designerInvoice label {
    margin: 0 0 15px 5px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px;
}
.designerInvoice input[type="radio"] {
    margin: 0 0 30px;
}
.designerInvoice a {
    background: #000;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px 30px;
    text-decoration: none;
}

/* Create owner */
.createOwner {
    margin: 0 0 5px;
}
.createOwner label {
    width:250px;
    color: #000;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.createOwner input {
    border: 1px solid rgab(0,0,0,0.5);
    padding: 10px;
    margin: 0 0 10px;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    width: 350px;
}
.owners button {
    background: #000;
    border: 0;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 8px 20px;
    cursor: pointer;
}
.owners select {
    border: 1px solid rgab(0,0,0,0.5);
    color: #000;
    padding: 12px 10px;
    margin: 0 10px 10px 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    width: 200px;
}
.owners input {
    border: 1px solid rgab(0,0,0,0.5);
    padding: 12px;
    margin: 0 0 10px;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    width: 150px;
}
.owners input[type="radio"] {
    width: 20px;
    margin: 10px 5px 0 0;
}
.owners a.link {
    background: #000;
    border: 0;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 8px 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin: 15px 0;
}
.owners a.manualBtn {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #fff;
    margin: 5px 0 10px;
    background: #000;
    padding: 8px 15px;
    display: inline-block;
    text-decoration: none;
}
.owners .width40 {
    width: 300px;
    float: left;
}
.owners .width40 div {
    width: 100%;
}
.owners .width40 input {
    width: 90%;
}
.owners .refresh {
    margin: 16px 0 0;
    padding: 12px 25px;
}


@media (max-width: 767px){
    .designerOrder h1 {
        text-align: center;
        margin: 10px 0 0;
        font-size: 18px;
    }
    .orderStartEnd .width50 {
        width: 100%;
        float:left;
        padding: 0 20px 10px;
    }
    .orderStartEnd input  {
        width: 300px;
    }
    .orderStartEnd h4 {
        font-size: 14px;
        letter-spacing: 1px;
        margin: 10px 0 3px;
        font-weight: 600;
    }
    .orderStartEnd button {
        width: 90px;
        margin: 10px auto 0;
        display: block;
        float: none;
    }

    /* invoice */
    .designerInvoice {
        padding: 10px;
    }
    .designerInvoice h1 {
        color: #000;
        font-size: 20px;
        text-align: center;
        margin: 10px 0 0;
    }
    .designerInvoice select {
        margin:0 10px 10px;
        padding: 10px;
    }
    .designerInvoice input {
        width: 150px;
    }
    .designerInvoice input[type="radio"] {
        width: 30px;
    }

    /* owner */
    .owners {
        padding: 10px;
    }



}



