.header {
  background: #000;
}
.logOut {
  background: transparent;
  border: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;
  height: 25px;
}
.logOut img {
  width: 17px !important;
  height: 17px;
  margin:0 5px -3px 0;
}

.content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 20px 16px;
  overflow: auto;
  text-align: center;
}

.header img {
  width: 350px;
}

.site-title a {
  text-decoration: none;
  color: #FFF;
}

.add-post-button {
  display: inline-block;
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  float: right;
}

.language-switcher {
  background: rgba(0, 0, 0, 0.1);
}

.language-switcher ul {
  list-style: none;
  width: 980px;
  margin: auto;
  text-align: right;
}

.language-switcher li {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
}

.language-switcher li:first-child {
  color: rgba(255, 255, 255, 0.7);
}

.selected {
  border-bottom: 1px solid #fff;
}
.nameStrip {
  background: #eeaba9;
  color: #000;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
}

@media (max-width: 767px){
  .content {
    padding: 10px 15px 10px;
  }
  .header h1 {
    float: left;
  }
  .header img {
    width: 180px;
  }
  .logOut {
    font-size: 13px;
    position: static !important;
    float: right;
    margin: 3px auto;
  }
  .logOut img {
    width: 14px !important;
    height: 14px;
    margin:0 5px -2px 0;
  }
  .nameStrip {
    font-size: 12px;
  }
  .add-post-button{
    float: left;
    margin-top: 16px;
  }
}
