.container {
  max-width: 1090px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

@media (min-width: 1600px){
  .container {
    max-width: 1400px;
  }
}

@media (max-width: 767px){
  .container {
    padding: 0;
  }

}