section h1,
.productDetailSection h1 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: left;
    margin: 25px 0 15px;
}

.stockPopup {
    width: 350px;
    height: 190px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    text-align: center;
    position: absolute;
    border: 4px solid #000;
}
.stockPopup:focus {
    outline: 0;
}
.stockPopup span {
    font-size: 25px;
    font-weight: 600;
    float: right;
    width: 20px;
    height: 20px;
    margin: 4px 10px;
    cursor: pointer;
}
.stockPopup h3 {
    clear: both;
    font-size: 20px;
    margin: 25px 10px 20px;
}
.stockPopup input {
    font-family: 'Lato', sans-serif;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}
.stockPopup input:focus {
    border: 1px solid rgba(0,0,0,0.5);
}
.stockPopup button {
    background: #000;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 11px 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
}


/* Inventory Status Popup */
.InventoryStatusPop {
    width: 280px;
    height: 350px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    text-align: center;
    position: absolute;
    border: 4px solid #000;
}
.InventoryStatusPop:focus {
    outline: 0;
}
.InventoryStatusPop span {
    font-size: 25px;
    font-weight: 600;
    float: right;
    width: 19px;
    height: 20px;
    margin: 4px 10px;
    cursor: pointer;
}
.InventoryStatusPop h3 {
    clear: both;
    font-size: 20px;
    margin: 25px 10px 10px;
}
.InventoryStatusPop input {
    font-family: 'Lato', sans-serif;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}
.InventoryStatusPop input:focus {
    border: 1px solid rgba(0,0,0,0.5);
}
.InventoryStatusPop button {
    background: #000;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 11px 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.InventoryStatusPop select {
    font-family: 'Lato', sans-serif;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 auto 10px;
}


/*==== Rent Status ======*/
.rentStatus {
    margin: 50px 0;
}
.rentStatus .backBtn {
    background: transparent;
    border: 0;
    color: #000;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    text-decoration: underline;
}
.rentStatus h3 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin: 20px 0 0;
}
.rentStatus input {
    margin: 0 10px 15px;
}
.rentStatus button {
    background: #333;
    color: #fff;
    padding: 10px 30px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 10px 0;
    border: 0;
}

/*====== Inventory =======*/
.fileUpload {
    margin: 10px 0 0;
}
.fileUpload > div {
    background: rgba(0,0,0,0.1) !important;
    cursor: pointer;
    width: 100% !important;
    text-align: center;
}
.fileUpload p {
    margin:85px 0;
    font-size: 18px;
}
.fileUpload button,
.imgUploadBtn {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    margin: 10px 0 0;
    cursor: pointer;
}
.addComment {
    width: 350px;
    margin: 15px 15px 10px 0;
    border: 1px solid #333;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 8px;
}
.fileUpload h5 {
    margin: 15px 0;
    font-size: 16px;
}


.proDisable select {
    border: 1px solid rgab(0, 0, 0, 0.5);
    color: #000;
    padding: 12px 10px;
    margin: 0 10px 10px 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    width: 350px;
}
.proDisable h5 {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.productDetailField {
    margin: 1em 0;
}

.productDetailFieldWidth {
    width: 50%;
}

.productDetailBtn {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    margin: 1.5em 0 2em;
    cursor: pointer;
}

.productDetailImg {
    width: 7.5em;
    margin: 0.5em;
}

.productDetailVideo {
    width: 20em;
    height: 15em;
    margin-left: 1em;
}

.gridBtn {
    background: #000;
    color: #fff;
    padding: 5px 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    border-radius: 0.5em;
    font-size: 12px;
}

.backBtn {
    background: none;
    border: 0;
    color: #333;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 1.5em 0 2em;
    cursor: pointer;
}

.collapsible {
    color: #fff;
    cursor: pointer;
    text-align: right;
    width: 100%;
    margin: 0;
    border: 1px solid #000;
    text-transform: capitalize;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0;
    background-color: #000;
    transition: background-color 300ms;
    letter-spacing: 1px;
}

.collapsibleIcon {
    font-weight: 900;
    font-size: 1.5em;
}

.content {
    border: 1px solid rgba(0,0,0,0.2);
    margin: 0 0 30px;
    padding: 25px 0 35px 25px;
    position: relative;
    transition: 300ms;
}

.wrapper {
    display: flex; 
}

.divOne {
    width: 33%;
}

.divTwo {
    width: 33%;
}

.divThree {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.wrapper h4{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px;
    margin: 15px 0 5px;
}

.inventoryDropdown,
.inventoryInput {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 90%;
    padding: 1em;
}

.inventoryDropdown {
    padding: 0 0.4em;
}

.inventoryBtn {
    background: #000;
    color: #fff;
    padding: 10px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    margin: 25px 0 0;
    cursor: pointer;
    width: 35%;
    height: 46px;
}

.upArrow,
.downArrow {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    position: relative;
    width: 80%;
    padding: 0.6em;
}

.upArrow:after {
    cursor: pointer;
    content: " ";
    float: right;
    border-color: transparent transparent #999;
    border-style: solid;
    border-width: 5px 5px;
    height: 0;
    width: 0;
    position: relative;
}

.downArrow:after {
    cursor: pointer;
    content: " ";
    float: right;
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    height: 0;
    width: 0;
    position: relative;
    margin-top: 0.4em;
}

.filter .upArrow,
.filter .downArrow {
    width: 90%;
} 

.optionsContainer {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgb(0 0 0 / 6%);
    box-sizing: border-box;
    margin-top: -2px;
    max-height: 200px;
    position: absolute;
    width: 26.1%;
    z-index: 1;
    overflow: auto;
}

.optionSection {
    display: block !important;
}

.optionCheckbox {
    margin: 0.75rem !important;
    cursor: pointer;
}

.shopTableOne > a {
    background: #000;
    color: #fff;
    display: block;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    margin: 10px 0 0;
    cursor: pointer;
    text-decoration: none;
    width: 140px;
    text-align: center;
}

.shopInventoryContainer .productDetailField {
    width: 47%;
    float: left;
    margin: 0 2% 0 0;
}
.shopInventoryContainer h4 {
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 15px 0 5px;
}
.shopInventoryContainer input {
    font-family: 'Lato', sans-serif;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    width: 100%;
}
.shopInventoryContainer select {
    font-family: 'Lato', sans-serif;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    width: 100%;
}
.shopInventoryContainer textarea {
    font-family: 'Lato', sans-serif;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    width: 100%;
    height: 80px;
}
.genderCol {
    width: 30%;
}
.genderCol input {
    float: left;
    width: 30px;
    margin: 2px 0 0;
}
.productDetailImages {
    width: 100%;
    clear: both;
}
.dropzoneContainer {
    clear: both;
    overflow: hidden;
}
.dropzoneContainer .productDetailField {
    width: 18%;
}
.shopInventoryContainer .dropzoneContainer .fileUpload {
    margin: 10px 0;
    font-size: 16px;
}
.shopInventoryContainer .dropzoneContainer p {
    margin: 38px 0 0;
    font-size: 15px;
}
.shopInventoryContainer .dropzoneContainer .fileUpload > div {
    height: 120px !important;
}

/* Fiilter component */
.collapsible {

}



@media (max-width: 767px) {
    section {
        padding: 0 10px;
    }
    section h1 {
        font-size: 20px;
        margin: 15px 0 5px;
    }
    .stockPopup {
        width: 290px;
    }
    .stockPopup input {
        width: 140px;
    }

    .fileUpload {
        margin: 10px;
    }
    .fileUpload > div {
        height: 100px !important;
    }
    .fileUpload p {
        margin: 35px 0;
    }
    .addComment {
        width: 100%;
        margin: 10px 0 0;
        font-size: 15px;
    }
    .fileUpload h5 {
        margin: 10px 0;
        font-size: 13px;
    }
    .proDisable select {
        width: 80%;
    }

    /* Shop - Inventory Product Detail */
    .shopInventoryContainer .productDetailField {
        width: 100%;
        float: left;
        margin: 0;
    }
    .productDetailSection {
        padding: 0 15px;
    }
    .productDetailSection > .backBtn {
        margin: 10px 0;
    }
    .dropzoneContainer .productDetailField {
        width: 46%;
        margin: 0 2%;
    }

    /* Filter component */
    .divOne {
        width: 100%;
    }
    .divTwo {
        width: 100%;
    }
    .divThree {
        width: 100%;
    }
    .wrapper {
        display: block; 
    }
    .content {
        margin: 0 0 30px;
        padding: 10px 0 35px 20px;
    }


}



