section h1,
.productDetailSection h1 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: left;
    margin: 25px 0 15px;
}

.stockPopup {
    width: 350px;
    height: 190px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    text-align: center;
    position: absolute;
    border: 4px solid #000;
}
.stockPopup:focus {
    outline: 0;
}
.stockPopup span {
    font-size: 25px;
    font-weight: 600;
    float: right;
    width: 20px;
    height: 20px;
    margin: 4px 10px;
    cursor: pointer;
}
.stockPopup h3 {
    clear: both;
    font-size: 20px;
    margin: 25px 10px 20px;
}
.stockPopup input {
    font-family: 'Lato', sans-serif;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}
.stockPopup input:focus {
    border: 1px solid rgba(0,0,0,0.5);
}
.stockPopup button {
    background: #000;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 11px 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
}


/* Inventory Status Popup */
.InventoryStatusPop {
    width: 280px;
    height: 350px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    text-align: center;
    position: absolute;
    border: 4px solid #000;
}
.InventoryStatusPop:focus {
    outline: 0;
}
.InventoryStatusPop span {
    font-size: 25px;
    font-weight: 600;
    float: right;
    width: 19px;
    height: 20px;
    margin: 4px 10px;
    cursor: pointer;
}
.InventoryStatusPop h3 {
    clear: both;
    font-size: 20px;
    margin: 25px 10px 10px;
}
.InventoryStatusPop input {
    font-family: 'Lato', sans-serif;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}
.InventoryStatusPop input:focus {
    border: 1px solid rgba(0,0,0,0.5);
}
.InventoryStatusPop button {
    background: #000;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 11px 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.InventoryStatusPop select {
    font-family: 'Lato', sans-serif;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 auto 10px;
}


/*==== Rent Status ======*/
.rentStatus {
    margin: 50px 0;
}
.rentStatus .backBtn {
    background: transparent;
    border: 0;
    color: #000;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    text-decoration: underline;
}
.rentStatus h3 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin: 20px 0 0;
}
.rentStatus input {
    margin: 0 10px 15px;
}
.rentStatus button {
    background: #333;
    color: #fff;
    padding: 10px 30px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 10px 0;
    border: 0;
}

/*====== Inventory =======*/
.fileUpload {
    margin: 10px 0 20px;
}
.fileUpload > div {
    background: rgba(0,0,0,0.1) !important;
    cursor: pointer;
    width: 100% !important;
    text-align: center;
}
.fileUpload p {
    margin:85px 0;
    font-size: 18px;
}
.fileUpload button,
.imgUploadBtn {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    margin: 10px 0 0;
    cursor: pointer;
}
.addComment {
    width: 350px;
    margin: 15px 15px 10px 0;
    border: 1px solid #333;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 8px;
}
.fileUpload h5 {
    margin: 15px 0;
    font-size: 16px;
}


.proDisable select {
    border: 1px solid rgab(0, 0, 0, 0.5);
    color: #000;
    padding: 12px 10px;
    margin: 0 10px 10px 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    width: 350px;
}
.proDisable h5 {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.productDetailField {
    margin: 1em 0;
}

.productDetailFieldWidth {
    width: 50%;
}

.productDetailBtn {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    margin: 1.5em 0 2em;
    cursor: pointer;
}

.productDetailImg {
    width: 7.5em;
    margin: 0.5em;
}

.productDetailVideo {
    width: 20em;
    height: 15em;
}

.gridBtn {
    background: #000;
    color: #fff;
    padding: 5px 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    border-radius: 0.5em;
    font-size: 12px;
}

@media (max-width: 767px) {
    section {
        padding: 0 10px;
    }
    section h1 {
        font-size: 20px;
        margin: 15px 0 5px;
    }
    .stockPopup {
        width: 290px;
    }
    .stockPopup input {
        width: 140px;
    }

    .fileUpload {
        margin: 10px;
    }
    .fileUpload > div {
        height: 100px !important;
    }
    .fileUpload p {
        margin: 35px 0;
    }
    .addComment {
        width: 100%;
        margin: 10px 0 0;
        font-size: 15px;
    }
    .fileUpload h5 {
        margin: 10px 0;
        font-size: 13px;
    }
    .proDisable select {
        width: 80%;
    }


}



