.scan {
  display: block;
}

.scan h1 {
  text-align: center;
  margin: 10px 0 -40px;
  display: block;
  position: relative;
  color: #fff;
  z-index: 5;
}

/* .scan video {
  display: block;
  width: 85% !important;
  margin: 0 auto;
} */

.scan .brder {
  position: relative;
  width: 85%;
  margin: 0 auto;
}

.scan .brder:before {
  content: "";
  border: 2px solid #eeaba9;
  width: 400px;
  height: 400px;
  position: absolute;
  margin: auto;
  display: block;
  left: 0;
  right: 0;
  top: 10%;
}

.scanResult {
  background: #f1f1f1;
  padding: 15px;
  margin: 15px auto 0;
  overflow: hidden;
  width: 100%;
}

.scanResult .col30 {
  width: 30%;
  float: left;
}

.scanResult .col70 {
  width: 70%;
  padding: 0 0 0 50px;
  float: left;
}

.scanResult .col30 img {
  width: 90%;
}

.scanResult p {
  font-size: 16px;
  font-family: 'Lato';
  line-height: 22px;
}

.scanResult .clear {
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Lato';
  border-bottom: 1px solid #000;
  margin: 0 0 15px;
  float: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.scanResult ul {
  list-style: disk;
  margin: 0;
  padding: 10px 0 0 15px;
}

.scanResult ul li {
  color: #000;
  font-size: 14px;
  font-family: 'Lato';
  line-height: 28px;
  text-align: capitalize;
}

.scanResult ul li img {
  width: 17px;
  height: auto;
  margin: 4px 0 -1px 8px;
}

.scanResult select {
  border: 1px solid #000;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-family: 'Lato';
  letter-spacing: 1px;
  padding: 10px 15px;
  margin: 15px 15px 0 0;
}

.scanResult .savebtn {
  display: block;
  background: #000;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: 0;
  margin: 10px 0 0;
}

@media (min-width: 1600px) {
  .scanResult ul li {
    font-size: 16px;
  }
  .scanResult p {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .scan h1 {
    color: #000;
    margin-bottom: 10px;
  }
  .scan {
    min-height: 85vh !important;
    height: 100% !important;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
  }
  .scan section {
    min-height: auto !important;
  }
  /* .scan video {
    position: absolute;
    width: 120% !important;
    left: 0;
    right: 0;
    margin: 50px 0 20px -10%;
  } */
  .scan .brder {
    width: 310px;
    height: 310px;
  }
  .scan .brder:before {
    width: 220px;
    height: 220px;
    z-index: 2;
    top: 21%;
    display: none;
  }
  .scanResult {
    width: 100%;
    margin: 10px auto 0;
  }
  .scanResult .clear {
    margin: 0 0 5px;
    font-size: 14px;
  }
  .scanResult .col30 {
    width: 40%;
  }
  .scanResult .col30 img {
    width: 90%;
  }
  .scanResult .col70 {
    width: 60%;
    padding: 0;
  }
  .scanResult p {
    font-size: 14px;
    line-height: 20px;
  }
  .scanResult ul {
    padding: 0 0 0 15px;
  }
  .scanResult ul li {
    line-height: 20px;
  }
  .scanResult select {
    width: 100%;
    margin: 0 0 10px;
    padding: 5px 10px;
  }
  .scanResult .savebtn {
    width: 100%;
    margin: 0;
  }
}
