.scan {
  display: block;
}

.scan h1 {
  text-align: center;
  margin: 10px 0 -40px;
  display: block;
  position: relative;
  color: #fff;
}

.scan video {
  display: block;
  width: 85% !important;
  margin: 0 auto;
}

.scan .brder {
  border: 2px solid #eeaba9;
  width: 400px;
  height: 400px;
  position: relative;
  margin: -53.5% auto 12%;
}

@media (max-width: 767px) {
  .scan h1 {
    color: #000;
  }
  .scan video {
    position: absolute;
    width: 120% !important;
    left: 0;
    right: 0;
    margin: 50px 0 20px -10%;
  }
  .scan .brder {
    width: 220px;
    height: 220px;
    margin: -96% auto 0%;
  }
}
