
section h1 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: left;
    margin: 25px 0 15px;
    display: inline-block;
}

.newTask {
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 13px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 22px 0 0;
    padding: 10px 20px;
    float: right;
    text-decoration: none;
    border: 0;
}
.tasks .col4 {
    width: 33.3%;
    float: left;
    padding: 0 10px;
}
.tasks .col4 label {
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
    width: 20%;
    display: inline-block;
}
.tasks .col4 select {
    border: 1px solid #000;
    padding: 8px;
    font-size: 14px;
    letter-spacing: 0.5px;
    width: 80%;
}
.tasks .col4 button {
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 13px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 0;
    width: 100%;
}
.lastUpdate {
    clear: both;
    margin: 25px 0 0;
    padding: 20px 0 15px 10px;
    letter-spacing: 0.5px;
}

/*====== Task Detail ========*/ 
.taskDetail h1 {
    width: 100%;
}
.taskDetail p { 
    font-size: 15px; 
    line-height: 25px; 
    letter-spacing: 0.5px; 
} 
.taskDetail .customer {
    width: 50%;
    float: left;
}
.taskDetail .customer p {
    font-size: 17px;
    line-height: 44px;
}
.taskDetail .taskButtons {
    float: right;
    width: 30%;
}
.taskDetail .taskButtons button {
    width: 100%;
    margin: 4px 0;
    font-size: 12.5px;
}
.taskDetail h2 { 
    color: #000; 
    font-size: 18px; 
    font-weight: 600; 
    margin: 20px 0 10px; 
    letter-spacing: 0.5px; 
} 
.taskDetail ul { 
    margin: 0; 
} 
.taskDetail ul.previousUpdate li { 
    list-style: none; 
    border: 1px solid rgba(0,0,0,0.1); 
    padding: 10px; 
    background: rgba(0,0,0,0.04); 
    font-size: 14px; 
    line-height: 22px; 
    letter-spacing: 0.5px; 
    margin: 10px 1%; 
    width: 32%; 
    display: inline-block; 
} 
.taskDetail button { 
    background: rgba(0,0,0,0.8); 
    color: #fff; 
    font-size: 13px; 
    letter-spacing: 1.5px; 
    text-transform: uppercase; 
    margin: 0 0 15px; 
    padding: 10px 20px; 
    text-decoration: none; 
    border: 0; 
} 
.taskButtons button { 
    margin: 5px 10px; 
    padding: 12px 15px; 
} 

/* popup */
.taskPopup {
    width: 410px;
    height: 250px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    text-align: center;
    position: absolute;
    border: 4px solid #000;
}
.taskPopup span {
    font-size: 25px;
    font-weight: 600;
    float: right;
    width: 20px;
    height: 20px;
    margin: 4px 10px;
    cursor: pointer;
}
.taskPopup label {
    display: block;
    font-size: 15px;
    text-align: left;
    margin: 10px 0 5px 5%;
}
.taskPopup select {
    margin: 5px 5%;
    font-size: 15px;
    padding: 6px;
    width: auto;
}
.taskPopup input {
    border: 1px solid rgba(0,0,0,0.4);
    font-size: 15px;
    letter-spacing: 1px;
    padding: 7px;
    width:90%;
    margin: 5px 5%;
}
.taskPopup button {
    background: rgba(0,0,0,0.8); 
    color: #fff; 
    cursor: pointer;
    font-size: 13px; 
    letter-spacing: 1.5px; 
    text-transform: uppercase; 
    margin: 10px 5% 15px; 
    padding: 10px 20px; 
    text-decoration: none; 
    border: 0; 
    display: block;
    width: 90%;
}

/*===== Inbound Call ======*/
.inboundCall label {
    display: inline-block;
    font-size: 15px;
    width: 180px;

}
.inboundCall input {
    border: 1px solid #333;
    color: #000;
    padding: 5px;
    width: 400px;
}
.inboundCall select {
    border: 1px solid #333;
    width: 400px;
    padding: 5px;
}
.inboundCall button {
    background: rgba(0,0,0,0.8); 
    color: #fff; 
    cursor: pointer;
    font-size: 13px; 
    letter-spacing: 1.5px; 
    text-transform: uppercase; 
    margin: 10px 0 15px; 
    padding: 10px 20px; 
    text-decoration: none; 
    border: 0; 
    display: block;
    width: auto;
}



@media (max-width: 767px){
    .tasks .col4 {
        width: 100%;
        margin: 0 0 15px;
    }
    .lastUpdate {
        padding: 5px 0 15px 10px;
    }
    .newTask {
        margin: 10px 0 0;
    }

    /* task detail */
    section h1 {
        font-size: 20px;
        margin: 15px 0 5px;
        letter-spacing: 0.5px;
    }
    .taskDetail .customer {
        width: auto;
        float: none;
    }
    .taskDetail .customer p {
        font-size: 15px;
        line-height: 24px;
    }
    .taskDetail .taskButtons {
        margin: 10px 0 0;
        width: 100%;
        float: none;
    }
    .taskDetail ul.previousUpdate li {
        margin: 5px 0;
        width: 100%;
        padding: 5px 10px;
    }
    .taskDetail button {
        width: 100%;
        margin: 0 0 5px;
    }

    /* popup */
    .taskPopup {
        width: 300px;
    }

    /* inbound call */
    .inboundCall input,
    .inboundCall select {
        width: 100%;
    }
    .inboundCall label {
        font-size: 13px;
        letter-spacing: 0.5px;
    }


}

