
section h1 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: left;
    margin: 25px 0 15px;
    display: inline-block;
}

.newTask {
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 13px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: -43px 10px 0 0;
    padding: 10px 20px;
    position: relative;
    float: right;
    text-decoration: none;
    border: 0;
    z-index: 2;
}
.tasks .col4 {
    width: 33.3%;
    float: left;
    padding: 0 10px;
}
.tasks .col4 label {
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
    width: 20%;
    display: inline-block;
}
.tasks .col4 select {
    border: 1px solid #000;
    padding: 8px;
    font-size: 14px;
    letter-spacing: 0.5px;
    width: 80%;
}
.tasks .col4 button {
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 13px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 0;
    width: 100%;
}
.lastUpdate {
    clear: both;
    margin: 25px 0 0;
    padding: 20px 0 15px 10px;
    letter-spacing: 0.5px;
}
.tasks .viewtask {
    background: #000;
    color: #fff;
    border: 0;
    padding: 3px 10px;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 3px 0 1px;
    text-transform: uppercase;
}
.tasks .ReactTable p {
    line-height: 24px;
}
.tasks .tasktable .rt-resizable-header {
    padding: 20px 5px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    background: rgba(0,0,0,0.8);
    color: #fff;
}
.tasks .tasktable .rt-thead .rt-th, 
.tasks .tasktable .rt-thead .rt-td {
    border-right: 1px solid rgba(97, 11, 11, 0.2);
}
.tasks .starhalf {
    font-size: 20px;
    color: #f48e0b;
    margin: 0 5px 0 0;
}
.tasks .rechurned {
    font-size: 20px;
    color: #029688;
    margin: 0 5px 0 0;
}
.tasks .taskdone {
    font-size: 20px;
    color: #7986cc;
    margin: 0 5px 0 0;
}
.tasks .tasktable div {
    text-transform: capitalize;
}
.crmReason {
    width: 400px;
    display: inline-block;
}


/*====== Task Detail ========*/ 
.taskDetail h1 {
    width: 100%;
}
.taskDetail p { 
    font-size: 15px; 
    line-height: 25px; 
    letter-spacing: 0.5px; 
} 
.taskDetail .customer {
    width: 50%;
    float: left;
}
.taskDetail .customer p {
    font-size: 17px;
    line-height: 44px;
}
.taskDetail .taskButtons {
    float: right;
    width: 30%;
}
.taskDetail .taskButtons button {
    width: 100%;
    margin: 4px 0;
    font-size: 12.5px;
}
.taskDetail h2 { 
    color: #000; 
    font-size: 18px; 
    font-weight: 600; 
    margin: 20px 0 10px; 
    letter-spacing: 0.5px; 
} 
.taskDetail ul { 
    margin: 0; 
    overflow: hidden;
} 
.taskDetail ul.previousUpdate li { 
    list-style: none; 
    border: 1px solid rgba(0,0,0,0.1); 
    padding: 10px; 
    background: rgba(0,0,0,0.04); 
    float: left;
    font-size: 14px; 
    line-height: 22px; 
    letter-spacing: 0.5px; 
    margin: 10px 1%; 
    width: 31%; 
    display: inline-block; 
} 
.taskDetail button { 
    background: rgba(0,0,0,0.8); 
    color: #fff; 
    font-size: 13px; 
    letter-spacing: 1.5px; 
    text-transform: uppercase; 
    margin: 0 0 15px; 
    padding: 10px 20px; 
    text-decoration: none; 
    border: 0; 
} 
.taskButtons button { 
    margin: 5px 10px; 
    padding: 12px 15px; 
} 
.callbackThumbnail {
    background: #fff;
    width: 47%;
    margin: 8px 2% 8px 0;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.1);
}
.callbackThumbnail hr {
    display: none;
}
.callbackThumbnail button {
    margin: 0 !important;
}
.callbackThumbnail.closed {
    opacity: 0.5;
}
.callbackThumbnail.disposed {
    background: #f3f3f3;
}
.callbackThumbnail.created {
    background: #e5f3ff;
}


/* popup */
.taskPopup {
    width: 410px;
    height: 250px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    text-align: center;
    position: absolute;
    border: 4px solid #000;
}
.taskPopup .close {
    font-size: 25px;
    font-weight: 600;
    float: right;
    width: 20px;
    height: 20px;
    margin: 4px 10px;
    cursor: pointer;
}
.taskPopup label {
    display: block;
    font-size: 15px;
    text-align: left;
    margin: 10px 0 5px 5%;
}
.taskPopup select {
    margin: 5px 5%;
    font-size: 15px;
    padding: 6px;
    width: auto;
}
.taskPopup input {
    border: 1px solid rgba(0,0,0,0.4);
    font-size: 15px;
    letter-spacing: 1px;
    padding: 7px;
    width:90%;
    margin: 5px 5%;
}
.taskPopup button {
    background: rgba(0,0,0,0.8); 
    color: #fff; 
    cursor: pointer;
    font-size: 13px; 
    letter-spacing: 1.5px; 
    text-transform: uppercase; 
    margin: 10px 5% 15px; 
    padding: 10px 20px; 
    text-decoration: none; 
    border: 0; 
    display: block;
    width: 90%;
}
.taskPopup .crmReason {
    width: 90%;
}
.crmselect {
    
}


/*===== Inbound Call ======*/
.inboundCall label {
    display: inline-block;
    font-size: 15px;
    width: 180px;

}
.inboundCall input {
    border: 1px solid #333;
    color: #000;
    padding: 5px;
    width: 400px;
}
.inboundCall select {
    border: 1px solid #333;
    width: 400px;
    padding: 5px;
}
.inboundCall button {
    background: rgba(0,0,0,0.8); 
    color: #fff; 
    cursor: pointer;
    font-size: 13px; 
    letter-spacing: 1.5px; 
    text-transform: uppercase; 
    margin: 10px 0 15px; 
    padding: 10px 20px; 
    text-decoration: none; 
    border: 0; 
    display: block;
    width: auto;
}


/*====== Metadata page ============*/
.metadataForm {
    margin: 0 0 15px;
    overflow: hidden;
}
.metadataForm label {
    font-size: 15px;
    letter-spacing: 0.5px;
    width: 35%;
    display: inline-block;
}
.metadataForm .col6 {
    width:50%;
    padding:10px;
    float: left;
}
.metadataForm input {
    width: 60%;
    border: 1px solid #333;
    color: #000;
    padding: 5px;
}
.metadataForm button {
    background: rgba(0,0,0,0.8); 
    color: #fff; 
    cursor: pointer;
    font-size: 13px; 
    letter-spacing: 1.5px; 
    text-transform: uppercase; 
    margin: 20px 0 15px; 
    padding: 10px 30px; 
    text-decoration: none; 
    border: 0; 
    display: block;
    width: auto;
    clear: both;
}



@media (max-width: 767px){
    .tasks .col4 {
        width: 100%;
        margin: 0 0 15px;
    }
    .lastUpdate {
        padding: 5px 0 15px 10px;
    }
    .newTask {
        margin: -33px 0 0;
    }
    .crmReason {
        width: 100%;
    }

    /* task detail */
    section h1 {
        font-size: 20px;
        margin: 15px 0 5px;
        letter-spacing: 0.5px;
    }
    .taskDetail .customer {
        width: auto;
        float: none;
    }
    .taskDetail .customer p {
        font-size: 15px;
        line-height: 24px;
    }
    .taskDetail .taskButtons {
        margin: 10px 0 0;
        width: 100%;
        float: none;
    }
    .taskDetail ul.previousUpdate li {
        margin: 5px 0;
        width: 100%;
        padding: 5px 10px;
    }
    .taskDetail button {
        width: 100%;
        margin: 0 0 5px;
    }
    .callbackThumbnail {
        width: 100%;
    }

    /* popup */
    .taskPopup {
        width: 300px;
    }

    /* inbound call */
    .inboundCall input,
    .inboundCall select {
        width: 100%;
    }
    .inboundCall label {
        font-size: 13px;
        letter-spacing: 0.5px;
    }

    /* metadata */
    .metadataForm .col6 {
        width: 100%;
        padding: 4px;
    }
    .metadataForm label {
        font-size: 14px;
        width: 100%;
        margin: 2px 0;
    }
    .metadataForm input {
        width: 100%;
    }
    .metadataForm button {
        width: 98%;
        display: inline-block;
        margin: 10px 1%;
    }
    .metadataForm input[type="checkbox"] {
        width: auto;
    } 


}

