.loginForm {
    width: 400px;
    margin: 15px auto;
    text-align: center;
}
.loginForm h2 {
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin:80px 0 15px;
}

.loginForm input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding: 10px 15px;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 0 0 15px;
    width: 100%;
    letter-spacing: 3px;
    text-align: center;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.loginForm input:focus {
    border-bottom: 1px solid #000;
}

.loginForm a {
    background: #333;
    color: #fff;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 17px 20px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: 20px 0;
    position: relative;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.loginForm a:before {
    content: "";
    border: 1px solid #fff;
    position: absolute;
    left: -4px;
    right: -4px;
    bottom: -4px;
    top: -4px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.loginForm a:hover,
.loginForm a:focus {
    background: #000;
}
.loginForm a:hover:before,
.loginForm a:focus:before {
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
}

/* forgot password */
.forgotPassword {
    text-align: center;
}
.forgotPassword label {
    display: block;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    margin: 30px 0 3px;
}
.forgotPassword input {
    border: 1px solid #000;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    width: 350px;
}
.forgotPassword button {
    background: #000;
    color: #fff;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    padding: 12px 30px;
    border:0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/*==== Create User ======*/
.createUser {
    margin: 15px 10px;
}
.createUser h1 {
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 20px 0 15px;
}
.createUser .back {
    background: transparent;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 0 0 3px;
}
.createUser .back .backicon {
    margin: 0 5px 0 0;
    font-size: 15px;
}
.createUser h4 {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    width: 120px;
    margin: 5px 5px 5px 0;
}
.createUser input {
    border: 1px solid rgba(0,0,0,0.5);
    padding: 8px 12px;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 0 0 15px;
    width: 400px;
    letter-spacing: 3px;
    text-align: center;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.createUser input:focus {
    border: 1px solid #000;
}
.createUser .submitBtn {
    background: #000;
    color: #fff;
    border: 0;
    padding: 8px 20px;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
}
.createUser select {
    border: 1px solid rgab(0,0,0,0.5) !important;
    color: #000;
    padding: 8px 10px;
    margin: 0 0 10px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    width: 400px;
}



@media (max-width: 767px) {
    .loginForm {
        width: 90%;
    }
    .loginForm h2 {
        font-size: 20px;
        margin: 30px 0 15px;
    }
    .loginForm input {
        margin: 0 0 5px;
    }

    /* forgot password */
    .forgotPassword h1 {
        font-size: 20px;
        margin: 20px 0 0;
    }
    .forgotPassword input {
        width: 300px;
    }
    .forgotPassword label {
        margin: 20px 0 3px; 
    }

    /* Create User */
    .createUser h1 {
        font-size: 20px;
        margin: 10px 0;
        letter-spacing: 1px;
    }
    .createUser input {
        font-size: 15px;
        letter-spacing: 1px;
        margin: 0 0 11px;
        padding: 10px 12px;
        width: 100%;
    }
    .createUser .submitBtn {
        margin: 0 0 15px;
    }
    .createUser select {
        width: 100%;
    }


}