.loginForm {
    width: 400px;
    margin: 15px auto;
    text-align: center;
}
.loginForm h2 {
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin:80px 0 15px;
}

.loginForm input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding: 10px 15px;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 0 0 15px;
    width: 100%;
    letter-spacing: 3px;
    text-align: center;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.loginForm input:focus {
    border-bottom: 1px solid #000;
}

.loginForm a {
    background: #333;
    color: #fff;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 17px 20px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: 20px 0;
    position: relative;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.loginForm a:before {
    content: "";
    border: 1px solid #fff;
    position: absolute;
    left: -4px;
    right: -4px;
    bottom: -4px;
    top: -4px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.loginForm a:hover,
.loginForm a:focus {
    background: #000;
}
.loginForm a:hover:before,
.loginForm a:focus:before {
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
}